<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-brands fa-studiovinari brand-logo"></i>
    <h1 class="display-3">Sources</h1>
    <p class="lead">Don't keep your Sources upto yourself, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <br>
<p class="copyright">&#169;anurag_jangir_</p>
  </div>
</div>

<%- include('partials/footer') %>
