<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sources</title>
  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="css/instyle.css">
  <!-- BootStrap CDN -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/6509b78fe6.js" crossorigin="anonymous"></script>
</head>

<body id="body">
  <div class="nav-bar" style="height: 100px">
    <div class="brand">
      <i class="fa-brands fa-studiovinari"></i>&nbsp;Sources
    </div>
    <div class="nav-links">
      <a class="nav-item" href="/secrets">Home</a>
      <a class="nav-item" href="#">About Us</a>
      <a class="nav-item" href="/logout">Log Out</a>
    </div>

  </div>
  <div class="content">
    <h1>Department</h1>
    <div class="row center">
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Prod</h5>
          <p class="card-text">Production Engineering</p>
          <a href="/prod" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">CSE</h5>
          <p class="card-text">Computer Science Engineering</p>
          <a href="/cse" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">ECE</h5>
          <p class="card-text">Electronics & Communication Engineering</p>
          <a href="/ece" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">EEE</h5>
          <p class="card-text">Electrical & Electronics Engineering</p>
          <a href="/eee" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">ICE</h5>
          <p class="card-text">Instrumentation & Control Engineering</p>
          <a href="/ice" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Chemical</h5>
          <p class="card-text">Chemical Engineering</p>
          <a href="/chemical" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mech</h5>
          <p class="card-text">Mechanical Engineering</p>
          <a href="/mech" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Civil</h5>
          <p class="card-text">Civil Engineering</p>
          <a href="/civil" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">MME</h5>
          <p class="card-text">Metallurgical & Material Engineering</p>
          <a href="/mme" class="btn btn-primary">Open Folder</a>
        </div>
      </div>
      <div class="file card text-end col-lg-3 col-md-4 col-sm-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Archi</h5>
          <p class="card-text">Architecture</p>
          <a href="/archi" class="btn btn-primary">Open Folder</a>
        </div>
      </div>

    </div>
    <div class="footer">
      &#169;anurag_jangir_
    </div>

</body>

</html>
